@font-face {
  font-family: "pdf";
  src: url("../assets/icons/font/pdf.eot");
  src: url("../assets/icons/font/pdf.eot") format("embedded-opentype"),
    url("../assets/icons/font/pdf.woff2") format("woff2"),
    url("../assets/icons/font/pdf.woff") format("woff"),
    url("../assets/icons/font/pdf.ttf") format("truetype"),
    url("../assets/icons/font/pdf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.pdf-app .pdf-icon-button {
  &::before,
  &::after {
    font-family: "pdf";
    font-size: 1.1rem;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.pdf-app {
  .sidebar-toggle::before {
    content: "\f0c9";
  }

  .dropdown-toolbar-button::after {
    content: "\e810";
  }

  .secondary-toolbar-toggle::before {
    content: "\f142";
  }

  .find-previous::before {
    content: "\e813";
  }

  .find-next::before {
    content: "\e812";
  }

  .page-up::before {
    content: "\e801";
  }

  .page-down::before {
    content: "\e802";
  }

  .zoom-out::before {
    content: "\e820";
  }

  .zoom-in::before {
    content: "\e821";
  }

  .presentation-mode::before {
    content: "\f0b2";
  }

  .print-button::before {
    content: "\e81f";
  }

  .open-file::before {
    content: "\f115";
  }

  .download-button::before {
    content: "\e81c";
  }

  .bookmark-button::before {
    content: "\f097";
  }

  .view-thumbnail::before {
    content: "\e815";
  }

  .view-outline::before {
    content: "\e814";
  }

  .view-attachments::before {
    content: "\e807";
  }

  .view-find::before {
    content: "\e817";
  }

  .first-page::before {
    content: "\e830";
  }
  
  .last-page::before {
    content: "\e82f";
  }
  
  .rotate-clockwise::before {
    content: "\e829";
  }
  
  .rotate-counter-clockwise::before {
    content: "\e82a";
  }
  
  .select-tool::before {
    content: "\f246";
  }
  
  .hand-tool::before {
    content: "\f256";
  }
  
  .scroll-vertical::before {
    content: "\e836";
  }
  
  .scroll-horizontal::before {
    content: "\e835";
  }
  
  .scroll-wrapped::before {
    content: "\e816";
  }
  
  .spread-none::before {
    content: "\e831";
  }
  
  .spread-odd::before {
    content: "\e83d";
  }
  
  .spread-even::before {
    content: "\e83c";
  }
  
  .document-properties::before {
    content: "\f129";
  }
}

html[dir="rtl"] .pdf-app {
  .find-previous::before {
    content: "\e812";
  }

  .find-next::before {
    content: "\e813";
  }
}
