$sidebar-width: 200px;
$sidebar-transition-duration: 200ms;
$sidebar-transition-timing-function: ease;

$pdf-app-background-color: #1d2636;
$pdf-sidebar-content-color: rgba(0, 0, 0, 0.1);
$pdf-toolbar-sidebar-color: #24364e;
$pdf-toolbar-color: #24364e;
$pdf-loading-bar-color: rgba(51, 51, 51, 1);
$pdf-find-results-count-color: rgba(217, 217, 217, 1);
$pdf-find-results-count-font-color: rgba(82, 82, 82, 1);