$pdf-sidebar-transition-duration: 200ms;
$pdf-sidebar-transition-timing-function: ease;

$pdf-app-background-color: rgb(29, 38, 54);
$pdf-sidebar-content-color: rgba(36, 54, 78, 0.5);
$pdf-toolbar-sidebar-color: rgb(36, 54, 78);
$pdf-toolbar-color: rgb(36, 54, 78);
$pdf-loading-bar-color: rgb(96, 108, 136);
$pdf-loading-bar-secondary-color: rgb(17, 236, 229);
$pdf-find-results-count-color: rgba(217, 217, 217, 1);
$pdf-find-results-count-font-color: rgba(82, 82, 82, 1);
$pdf-find-message-font-color: rgba(166, 183, 208, 1);
$pdf-not-found-color: rgba(255, 102, 102, 1);
$pdf-split-toolbar-button-separator-color: rgb(255, 255, 255);
$pdf-toolbar-font-color: rgba(217, 217, 217, 1);
$pdf-button-hover-font-color: rgb(17, 236, 229);
$pdf-button-toggled-color: rgb(96, 108, 136);
$pdf-horizontal-toolbar-separator-color: rgb(255, 255, 255);
$pdf-input-color: rgb(96, 108, 136);
$pdf-input-font-color: rgba(217, 217, 217, 1);
$pdf-find-input-placeholder-font-color: rgb(17, 236, 229);
$pdf-thumbnail-selection-ring-color: rgba(255, 255, 255, 0.15);
$pdf-thumbnail-selection-ring-selected-color: rgba(255, 255, 255, 0.3);
$pdf-error-wrapper-color: rgba(255, 85, 85, 1);
$pdf-error-more-info-color: rgba(217, 217, 217, 1);
$pdf-error-more-info-font-color: rgba(0, 0, 0, 1);
$pdf-overlay-container-color: rgba(0, 0, 0, 0.2);
$pdf-overlay-container-dialog-color: rgb(36, 54, 78);
$pdf-overlay-container-dialog-font-color: rgba(217, 217, 217, 1);
$pdf-overlay-container-dialog-separator-color: rgb(255, 255, 255);
$pdf-dialog-button-color: rgb(96, 108, 136);
$pdf-dialog-button-font-color: rgba(217, 217, 217, 1);

// light theme
$pdf-app-background-color-light: rgba(108, 117, 125, 0.3);
$pdf-sidebar-content-color-light: rgb(108, 117, 125, 0.4);
$pdf-toolbar-sidebar-color-light: rgba(108, 117, 125, 0.7);
$pdf-toolbar-color-light: rgb(108, 117, 125);
$pdf-loading-bar-color-light: rgb(63, 75, 91);;
$pdf-loading-bar-secondary-color-light: rgb(141, 208, 255);;
$pdf-find-results-count-color-light: rgb(63, 75, 91);
$pdf-find-results-count-font-color-light: rgba(255, 255, 255, 0.87);
$pdf-find-message-font-color-light: rgba(255, 255, 255, 0.87);
$pdf-not-found-color-light: brown;
$pdf-split-toolbar-button-separator-color-light: black;
$pdf-toolbar-font-color-light: rgba(255, 255, 255, 0.87);
$pdf-button-hover-font-color-light: rgb(141, 208, 255);
$pdf-button-toggled-color-light: rgb(63, 75, 91);
$pdf-horizontal-toolbar-separator-color-light: black;
$pdf-input-color-light: rgb(63, 75, 91);
$pdf-input-font-color-light: rgba(217, 217, 217, 1);
$pdf-find-input-placeholder-font-color-light: rgb(141, 208, 255);
$pdf-thumbnail-selection-ring-color-light: rgba(108, 117, 125, 0.7);
$pdf-thumbnail-selection-ring-selected-color-light: rgb(63, 75, 91);
$pdf-error-wrapper-color-light: rgba(255, 85, 85, 1);
$pdf-error-more-info-color-light: rgba(217, 217, 217, 1);
$pdf-error-more-info-font-color-light: rgba(0, 0, 0, 1);
$pdf-overlay-container-color-light: rgba(108, 117, 125, 0.7);
$pdf-overlay-container-dialog-color-light: rgb(108, 117, 125);
$pdf-overlay-container-dialog-font-color-light: rgba(217, 217, 217, 1);
$pdf-overlay-container-dialog-separator-color-light: black;
$pdf-dialog-button-color-light: rgb(63, 75, 91);;
$pdf-dialog-button-font-color-light: rgba(217, 217, 217, 1);
