
.pdf-trash-empty:before { content: '\e800'; } /* '' */
.pdf-up-big:before { content: '\e801'; } /* '' */
.pdf-down-big:before { content: '\e802'; } /* '' */
.pdf-cancel:before { content: '\e803'; } /* '' */
.pdf-down-open:before { content: '\e804'; } /* '' */
.pdf-up-open:before { content: '\e805'; } /* '' */
.pdf-mail:before { content: '\e806'; } /* '' */
.pdf-attach:before { content: '\e807'; } /* '' */
.pdf-collapse-all:before { content: '\e808'; } /* '' */
.pdf-unfold-less-vertical:before { content: '\e809'; } /* '' */
.pdf-unfold-less-horizontal:before { content: '\e80a'; } /* '' */
.pdf-collapse-all-outline:before { content: '\e80b'; } /* '' */
.pdf-close-circle-multiple-outline:before { content: '\e80c'; } /* '' */
.pdf-close-circle-multiple:before { content: '\e80d'; } /* '' */
.pdf-expand-all:before { content: '\e80e'; } /* '' */
.pdf-expand-all-outline:before { content: '\e80f'; } /* '' */
.pdf-unfold-more-horizontal:before { content: '\e810'; } /* '' */
.pdf-unfold-more-vertical:before { content: '\e811'; } /* '' */
.pdf-right-big:before { content: '\e812'; } /* '' */
.pdf-left-big:before { content: '\e813'; } /* '' */
.pdf-th-list:before { content: '\e814'; } /* '' */
.pdf-th:before { content: '\e815'; } /* '' */
.pdf-th-large:before { content: '\e816'; } /* '' */
.pdf-search:before { content: '\e817'; } /* '' */
.pdf-plus:before { content: '\e818'; } /* '' */
.pdf-minus:before { content: '\e819'; } /* '' */
.pdf-home:before { content: '\e81a'; } /* '' */
.pdf-help-circled:before { content: '\e81b'; } /* '' */
.pdf-download:before { content: '\e81c'; } /* '' */
.pdf-upload:before { content: '\e81d'; } /* '' */
.pdf-forward:before { content: '\e81e'; } /* '' */
.pdf-print:before { content: '\e81f'; } /* '' */
.pdf-zoom-out:before { content: '\e820'; } /* '' */
.pdf-zoom-in:before { content: '\e821'; } /* '' */
.pdf-left-open:before { content: '\e822'; } /* '' */
.pdf-right-open:before { content: '\e823'; } /* '' */
.pdf-down-dir:before { content: '\e824'; } /* '' */
.pdf-up-dir:before { content: '\e825'; } /* '' */
.pdf-left-dir:before { content: '\e826'; } /* '' */
.pdf-right-dir:before { content: '\e827'; } /* '' */
.pdf-to-end-alt:before { content: '\e828'; } /* '' */
.pdf-cw:before { content: '\e829'; } /* '' */
.pdf-ccw:before { content: '\e82a'; } /* '' */
.pdf-arrows-cw:before { content: '\e82b'; } /* '' */
.pdf-to-start-alt:before { content: '\e82c'; } /* '' */
.pdf-fast-fw:before { content: '\e82d'; } /* '' */
.pdf-fast-bw:before { content: '\e82e'; } /* '' */
.pdf-to-end:before { content: '\e82f'; } /* '' */
.pdf-to-start:before { content: '\e830'; } /* '' */
.pdf-stop:before { content: '\e831'; } /* '' */
.pdf-adjust:before { content: '\e832'; } /* '' */
.pdf-tint:before { content: '\e833'; } /* '' */
.pdf-info-circled:before { content: '\e834'; } /* '' */
.pdf-resize-horizontal:before { content: '\e835'; } /* '' */
.pdf-resize-vertical:before { content: '\e836'; } /* '' */
.pdf-bookmark:before { content: '\e837'; } /* '' */
.pdf-folder-open:before { content: '\e838'; } /* '' */
.pdf-resize-full:before { content: '\e839'; } /* '' */
.pdf-resize-small:before { content: '\e83a'; } /* '' */
.pdf-spin6:before { content: '\e83b'; } /* '' */
.pdf-even:before { content: '\e83c'; } /* '' */
.pdf-odd:before { content: '\e83d'; } /* '' */
.pdf-firefox:before { content: '\e840'; } /* '' */
.pdf-link-ext:before { content: '\f08e'; } /* '' */
.pdf-bookmark-empty:before { content: '\f097'; } /* '' */
.pdf-resize-full-alt:before { content: '\f0b2'; } /* '' */
.pdf-menu:before { content: '\f0c9'; } /* '' */
.pdf-mail-alt:before { content: '\f0e0'; } /* '' */
.pdf-plus-squared:before { content: '\f0fe'; } /* '' */
.pdf-angle-double-left:before { content: '\f100'; } /* '' */
.pdf-angle-double-right:before { content: '\f101'; } /* '' */
.pdf-angle-double-up:before { content: '\f102'; } /* '' */
.pdf-angle-double-down:before { content: '\f103'; } /* '' */
.pdf-angle-left:before { content: '\f104'; } /* '' */
.pdf-angle-right:before { content: '\f105'; } /* '' */
.pdf-angle-up:before { content: '\f106'; } /* '' */
.pdf-angle-down:before { content: '\f107'; } /* '' */
.pdf-reply:before { content: '\f112'; } /* '' */
.pdf-folder-open-empty:before { content: '\f115'; } /* '' */
.pdf-reply-all:before { content: '\f122'; } /* '' */
.pdf-star-half-alt:before { content: '\f123'; } /* '' */
.pdf-help:before { content: '\f128'; } /* '' */
.pdf-info:before { content: '\f129'; } /* '' */
.pdf-ellipsis:before { content: '\f141'; } /* '' */
.pdf-ellipsis-vert:before { content: '\f142'; } /* '' */
.pdf-minus-squared:before { content: '\f146'; } /* '' */
.pdf-minus-squared-alt:before { content: '\f147'; } /* '' */
.pdf-link-ext-alt:before { content: '\f14c'; } /* '' */
.pdf-expand:before { content: '\f150'; } /* '' */
.pdf-collapse:before { content: '\f151'; } /* '' */
.pdf-expand-right:before { content: '\f152'; } /* '' */
.pdf-sun:before { content: '\f185'; } /* '' */
.pdf-moon:before { content: '\f186'; } /* '' */
.pdf-collapse-left:before { content: '\f191'; } /* '' */
.pdf-plus-squared-alt:before { content: '\f196'; } /* '' */
.pdf-file-pdf:before { content: '\f1c1'; } /* '' */
.pdf-trash:before { content: '\f1f8'; } /* '' */
.pdf-i-cursor:before { content: '\f246'; } /* '' */
.pdf-hand-paper-o:before { content: '\f256'; } /* '' */